extends layout

block content
  div.row-fluid
    div.span2
      |Available:
      ul.nav.nav-pills.nav-stacked
        - each other in others
          li
            a(href='#')= other
    div.span10
      form
        textarea(style="width:100%;height:300px; resize: none; font-size:2em", disabled="disabled")
        textarea(style="width:100%;height:50px; resize: none; font-size:2em")
        input(type="submit", value="send").btn.btn-primary.btn-large.pull-right
