extends layout

block content
  div.hero-unit
    h1= title
    p
      h2 The Chantor Hall of Fame!
      |Be a&nbsp;
      strong Chantor hero&nbsp;
      |and submit your bug reports and enhancement requests&nbsp;
      a(href="https://github.com/vibhor86/chantor/issues", target="_blank") here
      |.
      br
      |Contribute to the Chantor code&nbsp;
      a(href="https://github.com/vibhor86/chantor", target="_blank") here
      |&nbsp;to be listed as a&nbsp;
      strong Chantor Developer.
      br
      br
      h3 Chantor Heroes
      |&nbsp;&nbsp;&nbsp;&nbsp;Shivam Mathur
      h3 Chantor Developers
      |&nbsp;&nbsp;&nbsp;&nbsp;Vibhor Mahajan