extends layout

block content
  div.hero-unit
    h1= title
    p
      h2 Frequently asked questions
      strong Q. Can I group chat?
      br
      |A. Not yet...
      br
      strong Q. What do you mean by secure?
      br
      |A. There is no persistence on server. The messages are all stored on your browser.
      |   I've plans to add SSL support to make it really secure.
      br
      strong Q. What if I use someone else's name? Where's your security now?
      br
      |A. Your IP can be traced back to you. It is un-ethical to impersonate your fellow employee.
      |   This is all for convenience. We might introduce active directory support when it is introduced
      |   in the organization which would mean both security and convenience.
      br
      strong Q. Can I see the code?
      br
      |A. Sure... You can find the code here...&nbsp;
      a(href="https://github.com/vibhor86/chantor", target="_blank") https://github.com/vibhor86/chantor
      br
      strong Q. How can I get desktop notifications on Firefox?
      br
      |A. Here's a plugin on Firefox that can enable Chrome-like desktop notifications on Firefox.
      br
      a(href='https://addons.mozilla.org/en-us/firefox/addon/html-notifications/', target="_blank") https://addons.mozilla.org/en-us/firefox/addon/html-notifications/
      br
      |Tips: 1. You might require to restart the browser after allowing permission. 2. You might need to disable images in the add-on's preferences.

