extends layout

block content
  div.hero-unit
    h1= title
    p
      |to Chantor - Your *secure* chat solution at Trantor
      br
      |Here's your IP address -&nbsp
      b= ip
    form(action="/set_username", method="post")
      input(type="text", name="name", placeholder="Your full name")
      br
      input(type="submit", value="save").btn.btn-primary