body {
    padding-top: 45px;
}

#messages {
    list-style-type: none;
}

.message-container {
    width: 100%;
    height: 350px;
    overflow-y: auto;
}

.message-container .message {
    color: green;
    font-size: 1.5em;
}

#available-chatters i {
    opacity: .25;
}

#available-chatters a:hover i {
    opacity: .5;
}

#available-chatters .active i,
#available-chatters .active a:hover i {
    background-image: url(./img/glyphicons-halflings-white.png);
    opacity: 1;
}