body {
    padding-top: 45px;
}

#messages {
    list-style-type: none;
}

.message-container {
    width: 100%;
    height: 350px;
    overflow-y: auto;
}

.message-container .message {
    color: green;
    font-size: 1.5em;
}